@charset "utf-8";
body {
	background-color: #0a274f;
	background-image: url(../img/blueprint.png) , url(../img/header-background.png) , url(../img/mdn-header-gradient.png);
	background-repeat: repeat, repeat, repeat-x;
}

table {
	-webkit-box-shadow: 0px 0px 15px #000000;
	box-shadow: 0px 0px 15px #000000;
	background-color: #EFEFEF;
}

table,tr,td {
	border: 1px solid #535353;
	border-collapse: collapse;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-align: center;
}

table tr td span {
	font-weight: bold;	
}

td {
	color: #000000;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}